---
slug: module_141/module_iframe/api/getOrders
---
{% include 'modules/siteglide_system/constants' -%}

{%- assign page = context.params.page | default: 1 | plus: 0 -%}
{%- assign per_page = context.params.per_page | default: 10 | plus: 0 -%}
{%- assign keyword = context.params.keyword | default: "" -%}
{% assign site_id =  context.params.site_id | default: "" %}


{%- graphql allorders = "modules/module_141/module_orders/get_orders",
  page: page,
  per_page: per_page,
  keyword: keyword
-%}


{% assign total_pages =  allorders.data.total_pages %}
{% assign current_page =  allorders.data.current_page %}
{% assign total_entries =  allorders.data.total_entries %}
{% assign has_previous_page =  allorders.data.has_previous_page %}
{% assign has_next_page =  allorders.data.has_next_page %}

{% render 'modules/module_141/layouts/pagination/orders_pagination', total_middle_buttons: 7, current_page: current_page, total_pages: total_pages, has_previous_page: has_previous_page, has_next_page: has_next_page %}

<table class="table table-bordered mt-4" id="order-table">
    <thead>
        <th scope="col" class="sg-bg-primary text-white">Order ID</th>
        <th scope="col" class="sg-bg-primary text-white">Order Date</th>
        <th scope="col" class="sg-bg-primary text-white">Username</th>
        <th scope="col" class="sg-bg-primary text-white">Email</th>			
        <th scope="col" class="sg-bg-primary text-white">Status</th>
        <th scope="col" class="sg-bg-primary text-white">Prix total</th>
        <th scope="col" class="sg-bg-primary text-white">View</th>
    </thead>
    <tbody>
        {% for item in allorders.data.results -%}           
            <tr>
                <td class="text-center">
                    <a href="/module_141/module_iframe/view/{{item.id}}?{% include "modules/siteglide_system/modules/auth" -%}">{{ item.id }}</a>
                </td>
                <td>
                    {{item.created_at | date: "%Y-%m-%d %H:%M" }}
                </td>
                <td>
                    <a href="https://admin.siteglide.com/#/site/{{site_id}}/crm/users/{{item.user_id}}" target="_top">{{item.related_users[0].name}}</a>
                </td>
                <td>
                    {{ item.properties['module_field_14/order_2']}}
                </td>
                <td>
                    {{ item.properties['module_field_14/order_3']}}
                </td>
                <td>
                    {{ item.properties['module_field_custom_14/order_7']}}
                </td>
                <td>
                    <a class="view" href="/module_141/module_iframe/view/{{item.id}}?{% include "modules/siteglide_system/modules/auth" -%}&site_id={{site_id}}">
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="pencil-alt" class="svg-inline--fa fa-pencil-alt fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M493.255 56.236l-37.49-37.49c-24.993-24.993-65.515-24.994-90.51 0L12.838 371.162.151 485.346c-1.698 15.286 11.22 28.203 26.504 26.504l114.184-12.687 352.417-352.417c24.992-24.994 24.992-65.517-.001-90.51zM164.686 347.313c6.249 6.249 16.379 6.248 22.627 0L368 166.627l30.059 30.059L174 420.745V386h-48v-48H91.255l224.059-224.059L345.373 144 164.686 324.687c-6.249 6.248-6.249 16.378 0 22.626zm-38.539 121.285l-58.995 6.555-30.305-30.305 6.555-58.995L63.255 366H98v48h48v34.745l-19.853 19.853zm344.48-344.48l-49.941 49.941-82.745-82.745 49.941-49.941c12.505-12.505 32.748-12.507 45.255 0l37.49 37.49c12.506 12.506 12.507 32.747 0 45.255z"></path></svg>
                    </a>                  
                </td>               
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% render 'modules/module_141/layouts/pagination/orders_pagination', total_middle_buttons: 7, current_page: current_page, total_pages: total_pages, has_previous_page: has_previous_page, has_next_page: has_next_page %}
