---
slug: module_141/module_iframe/api/getOrders
---
{% include 'modules/siteglide_system/constants' -%}

{%- assign page = context.params.page | default: 1 | plus: 0 -%}
{%- assign per_page = context.params.per_page | default: 10 | plus: 0 -%}


{%- graphql allorders = "modules/module_141/module_orders/get_orders",
  page: page,
  per_page: per_page,
-%}


{% assign total_pages =  allorders.data.total_pages %}
{% assign current_page =  allorders.data.current_page %}
{% assign total_entries =  allorders.data.total_entries %}
{% assign has_previous_page =  allorders.data.has_previous_page %}
{% assign has_next_page =  allorders.data.has_next_page %}
 
{% render 'modules/module_141/layouts/pagination/orders_pagination', total_middle_buttons: 7, current_page: current_page, total_pages: total_pages, has_previous_page: has_previous_page, has_next_page: has_next_page %}

<table class="table table-bordered" id="order-table">
    <thead>
        <th scope="col" class="sg-bg-primary text-white test-class">Order ID</th>
        <th scope="col" class="sg-bg-primary text-white">Order Date</th>
        <th scope="col" class="sg-bg-primary text-white">Username</th>
        <th scope="col" class="sg-bg-primary text-white">Email</th>			
        <th scope="col" class="sg-bg-primary text-white">Status</th>
        <th scope="col" class="sg-bg-primary text-white">Prix total</th>
        <th scope="col" class="sg-bg-primary">View</th>
    </thead>
    <tbody>
        {% for item in allorders.data.results -%}           
            <tr>
                <td>
                    {{ item.id }}
                </td>
                <td>
                    {{item.created_at | date: "%Y-%m-%d %H:%M" }}
                </td>
                <td>
                    {{item.related_users[0].name}}
                </td>
                <td>
                    {{ item.properties['module_field_14/order_2']}}
                </td>
                <td>
                    {{ item.properties['module_field_14/order_3']}}
                </td>
                <td>
                    {{ item.properties['module_field_custom_14/order_7']}}
                </td>
                <td>
                    <a class="btn btn-primary" href="/module_141/module_iframe/view/{{item.id}}?{% include "modules/siteglide_system/modules/auth" -%}">View</a> View2
                </td>               
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% render 'modules/module_141/layouts/pagination/orders_pagination', total_middle_buttons: 7, current_page: current_page, total_pages: total_pages, has_previous_page: has_previous_page, has_next_page: has_next_page %}
