{% assign total_middle_buttons = total_middle_buttons | default: 7 %}
  {% assign buttons_within = total_middle_buttons | divided_by: 2 %}
  
  {% assign minimum_threshold = current_page | minus: buttons_within | at_least: 1 %}
  {% assign maximum_threshold = current_page | plus: buttons_within | at_most: total_pages %}
  
  {% if minimum_threshold < 1 %}
    {% assign difference = 1 | minus: minimum_threshold %}
    {% assign minimum_threshold = 1 %}
    {% assign maximum_threshold = maximum_threshold | plus: difference %}
  {% endif %}
  
  {% if maximum_threshold > total_pages %}
    {% assign difference = total_pages | minus: maximum_threshold %}
    {% assign maximum_threshold = total_pages %}
    {% assign minimum_threshold = minimum_threshold | plus: difference %}
  {% endif %}
  
  <div class="order-pagination-div">
  {% if total_pages != 1 -%}
    <ul class="pagination pagination-02 justify-content-end">
      <li class="page-item {% if has_previous_page == false %}disabled{% endif %}">
        <button type="button" onClick="changePage({{current_page | minus: 1}});" class="page-link"><i class="fas fa-chevron-left"></i><span class="sr-only"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></span></button>
      </li>
      {% if minimum_threshold > 1 %}
        <li class="page-item {% if current_page == 1 -%}active{% endif -%}">
           <button type="button" onClick="changePage(1);" class="page-link">1</button>
        </li>
         <li class="page-item" ><button type="button" onClick="changePage(" class="page-link"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="double-right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M533.2 492.3L277.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H188c-6.7 0-10.4 7.7-6.3 12.9L447.1 512 181.7 851.1A7.98 7.98 0 0 0 188 864h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5zm304 0L581.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H492c-6.7 0-10.4 7.7-6.3 12.9L751.1 512 485.7 851.1A7.98 7.98 0 0 0 492 864h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5z"></path></svg></button></li>
      {% endif -%}
      {% for page_button in (minimum_threshold..maximum_threshold) -%}
        {% capture _path -%}{{context.location.pathname}}?page={{page_button}}{{page_search_params}}{% endcapture -%}
        <li class="page-item {% if page_button == current_page -%}active{% endif -%}">
          <button type="button" onClick="changePage({{page_button}});" class="page-link" href="{{_path}}">{{page_button}}</button>
        </li>
      {% endfor -%}
      {% if maximum_threshold < total_pages %}
        <li class="page-item" ><button type="button" class="page-link">•••</button></li>
        <li class="page-item {% if current_page == total_pages -%}active{% endif -%}">
           <button type="button" onClick="changePage({{total_pages}});" class="page-link">{{total_pages}}</button>
        </li>
      {% endif -%}
      <li class="page-item {% if has_next_page == false %}disabled{% endif %}">
        <button type="button" onClick="changePage({{current_page | plus: 1}});" class="page-link"><i class="fas fa-chevron-right"></i><span class="sr-only"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path></svg></button>
      </li>
    </ul>
  {%  elsif total_pages == 1 %}
    <ul class="pagination pagination-02 justify-content-end">
      <li class="page-item {% if has_previous_page == false %}disabled{% endif %}">
        <button type="button" onClick="changePage({{current_page | minus: 1}});" class="page-link"><i class="fas fa-chevron-left"></i><span class="sr-only"><i class="fas fa-chevron-left"></i><span class="sr-only"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></span></button>
      </li>
      <li class="page-item {% if current_page == 1 -%}active{% endif -%}">
          <button type="button" onClick="changePage(1);" class="page-link">1</button>
      </li>
      <li class="page-item {% if has_next_page == false %}disabled{% endif %}">
        <button type="button" onClick="changePage({{current_page | plus: 1}});" class="page-link"><i class="fas fa-chevron-right"></i><span class="sr-only"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path></svg></span></button>
      </li>
    </ul>
  {% endif -%}
  </div>
  
  