{% assign total_middle_buttons = total_middle_buttons | default: 7 %}
  {% assign buttons_within = total_middle_buttons | divided_by: 2 %}
  
  {% assign minimum_threshold = current_page | minus: buttons_within | at_least: 1 %}
  {% assign maximum_threshold = current_page | plus: buttons_within | at_most: total_pages %}
  
  {% if minimum_threshold < 1 %}
    {% assign difference = 1 | minus: minimum_threshold %}
    {% assign minimum_threshold = 1 %}
    {% assign maximum_threshold = maximum_threshold | plus: difference %}
  {% endif %}
  
  {% if maximum_threshold > total_pages %}
    {% assign difference = total_pages | minus: maximum_threshold %}
    {% assign maximum_threshold = total_pages %}
    {% assign minimum_threshold = minimum_threshold | plus: difference %}
  {% endif %}
  
  <div class="order-pagination-div">
  {% if total_pages != 1 -%}
    <ul class="pagination pagination-02 justify-content-end">
      <li class="page-item {% if has_previous_page == false %}disabled{% endif %}">
        <button type="button" onClick="changePage({{current_page | minus: 1}});" class="page-link"><i class="fas fa-chevron-left"></i><span class="sr-only"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8 .4 34.3z"/></svg></span></button>
      </li>
      {% if minimum_threshold > 1 %}
        <li class="page-item {% if current_page == 1 -%}active{% endif -%}">
           <button type="button" onClick="changePage(1);" class="page-link">1</button>
        </li>
         <li class="page-item" ><button type="button" onClick="changePage(" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg></button></li>
      {% endif -%}
      {% for page_button in (minimum_threshold..maximum_threshold) -%}
        {% capture _path -%}{{context.location.pathname}}?page={{page_button}}{{page_search_params}}{% endcapture -%}
        <li class="page-item {% if page_button == current_page -%}active{% endif -%}">
          <button type="button" onClick="changePage({{page_button}});" class="page-link" href="{{_path}}">{{page_button}}</button>
        </li>
      {% endfor -%}
      {% if maximum_threshold < total_pages %}
        <li class="page-item" ><button type="button" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg></button></li>
        <li class="page-item {% if current_page == total_pages -%}active{% endif -%}">
           <button type="button" onClick="changePage({{total_pages}});" class="page-link">{{total_pages}}</button>
        </li>
      {% endif -%}
      <li class="page-item {% if has_next_page == false %}disabled{% endif %}">
        <button type="button" onClick="changePage({{current_page | plus: 1}});" class="page-link"><i class="fas fa-chevron-right"></i><span class="sr-only"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg></span></button>
      </li>
    </ul>
  {% endif -%}
  </div>
  
  