---
slug: module_141/module_iframe/index
response_headers: >
  {
    "X-Frame-Options": null
  }
authorization_policies:
  - modules/siteglide_system/module_is_in_admin
layout: modules/module_141/templates/1
---


{% graphql allorders = "modules/module_141/properties/get_orders" %}

<section class="sg-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
		<h1>All Orders</h1>

        <table class="table table-bordered">
            <thead>
				<th scope="col" class="sg-bg-primary">Order ID</th>
				<th scope="col" class="sg-bg-primary">Order Date</th>
				<th scope="col" class="sg-bg-primary">Email</th>			
				<th scope="col" class="sg-bg-primary">Status</th>
				<th scope="col" class="sg-bg-primary">Prix total</th>
        	</thead>
			<tbody>
	
				{% for item in allorders.data.results -%}
		
					<tr>
						<td>
							{{ item.id }}
						</td>
						<td>
							{{item.created_at | localize: 'with_time_zone' }}
						</td>
						<td>
							{{ item.properties['module_field_14/order_2']}}
						</td>
						<td>
							{{ item.properties['module_field_14/order_3']}}
						</td>
						<td>
							{{ item.properties['module_field_custom_14/order_7']}}
						</td>
						
					</tr>
				{% endfor %}
	
			</tbody>
        </table>
     </div>
    </div>
  </div>
</section>   